@using Microsoft.AspNetCore.Components.Routing
<nav class="nav-menu">
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="/orders">Orders</NavLink></li>
        <li><NavLink href="/products">Products</NavLink></li>
    </ul>
</nav>
